@page "/info"
@model Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    //var routeName = HttpContext.GetRouteValue("author");
    var routeName = Model.Author;
}

@using Core
@using Microsoft.AspNetCore.Identity
@using Infrastructure

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div>
    <!-- User Info /-->
    @if (routeName != null)
    {
        <h2>@routeName.Author's Information</h2>

        <!-- User Info -->
        <li>
            <p>
                Name: @routeName.Author
            </p>
            <p>
                Email: @routeName.Email
            </p>
        </li>

        <!-- Follower List /-->
        <h2> @routeName.Author's Following List</h2>
        @if (Model.Following.Any())
        {
            @foreach (var following in Model.Following)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@following.Author">@following.Author</a>
                        </strong>
                    </p>
                </li>
            }
        }

        <!-- User Cheeps /-->
        <h2> @routeName.Author's Cheeps </h2>
        @if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                            </strong>
                            @cheep.Message
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                    </li>
                }
            </ul>
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }

        <!-- Liked Cheeps Section /-->
        <h2>Liked Cheeps</h2>
        @if (Model.LikedCheeps.Any())
        {
            @foreach (var cheep in Model.LikedCheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>

                        @if (SignInManager.IsSignedIn(User) && User.Identity.Name != cheep.Email)
                        {
                        <form method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="Email" value="@cheep.Email"/>
                            @if (@cheep.IsFollowed)
                            {
                                <button type="submit" formaction="/@routeName/?handler=Follow">Unfollow</button>
                            }
                            else
                            {
                                <button type="submit" formaction="/@routeName/?handler=Follow">Follow</button>
                            }

                        </form>
                    }
                    </p>
                </li>
            }
        }
        else
        {
            <em> There are no cheeps so far.</em>
        }

        <!-- Forget Me Section /-->
        <h2>Forget Me</h2>
        <p>
            Delete your account from Chirp. WARNING THIS CANNOT BE REVERSED
        </p>

        <form method="post">
            @Html.AntiForgeryToken()
            <button type="submit" formaction="/info/?handler=Forget">Forget me!</button>
        </form>
    }
    else
    {
        <em>Hello Mister Frog</em>

        <h1>Y O U A R E N O T S U P P O S E D T O B E H E R E</h1>
    }
</div>